.app-root {
    display: grid;
    grid-template-columns: 40px [side] 200px [content] auto 40px;
    grid-template-rows: 40px auto auto;
}

.app-banner {
    grid-column-start: side;
    grid-column-end: span content;
    align-self: end;
    margin: 8px;
}

.app-searchbar {
    grid-column: content;
    grid-row:2;
}

.app-filters {
    grid-column-start: side;
    grid-row-start: 3;
    margin: 8px;
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.8em;
}

.app-done {
    grid-column: content;
    grid-row: 4;
    align-content: center;
}

.app-results {
    grid-column-start: content;
    grid-row-start: 3
}


.app-searchbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.searchinput {
    border: solid 1px #999;
    background-color: white;
    color: "#333";
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 4px;
    outline: 0;
    font-size: 32px;
    width:100%;
    
    box-sizing: border-box;
}

#qbutton {
    border: solid 1px #999;
    border-left-width: 0px;
    background: rgb(194, 194, 194);
    background-image: url('./search.png');
    background-repeat: no-repeat;
    background-position: center center;      
    flex : 0 0 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    align-self: stretch;
    height: 47.3px;
    box-sizing: border-box;
    margin:0;
}
