
.apaper {
	margin-top: 25px;
	display: grid;

	grid-template-columns: auto 180px;
}

.paperdesc {
	grid-column: 1;
	grid-row: 1;
}

.dllinks {
	text-align: right;
	grid-column: 2;
	grid-row: 1
}
.animg {
	grid-column: 1 / span 2;
	grid-row:2;
}
.animg img {
	max-width: 100%;
}

.abstract {
	grid-column: 1 / span 2;
	grid-row: 3;
}

.ts {
	font-weight: bold;
	font-size: 16px;
}    
.ts a:link{ text-decoration: none; color: #333; }
.ts a:visited{ text-decoration: none; color: #333; }
.ts a:hover{ text-decoration: underline; color: #000; }
.ts a:active{ text-decoration: none; color: #333; }

.as {
	font-size: 14px;
	color: #900;
	cursor: pointer;
}
.as a:link{ text-decoration: none; color: #900; }
.as a:visited{ text-decoration: none; color: #900; }
.as a:hover{ text-decoration: underline; color: #F00; }
.as a:active{ text-decoration: none; color: #900; }

.ds {
	margin-right: 10px;
	color: #090;
	font-size: 14px;
}
.ds2 {
	margin-right: 10px;
	color: #099;
	font-size: 14px;
}
.cs {
	color: #009;
	font-size: 14px;
}
.cs a:link{ text-decoration: none; color: #009; }
.cs a:visited{ text-decoration: none; color: #009; }
.cs a:hover{ text-decoration: underline; color: #00F; }
.cs a:active{ text-decoration: none; color: #009; }


.spid {
	font-size: 14px;
	margin-right: 5px;
	color: #555;
}

.sim {
	cursor: pointer;
	text-decoration: underline;
	display: inline-block;
}

.save-icon {
	width: 24px;
	height: 24px;
	cursor: pointer;
	margin-top: 5px;
}


.abstract {
	color: #000;
	background-color: #EFE;
	font-size: 14px;
	display: block;
	padding: 10px;
	border-radius: 5px;
	text-align: justify;
}

.paper-comment {
	font-size: 0.7em;
	color: grey;
}