.maingrid {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 1fr ;
    grid-template-rows: auto auto;
    grid-gap: .5rem;
    grid-template-areas:
        "    search search     "
        "    side   results    ";
}

.container {
    position: relative;
    max-width: 1228px;
    margin: 0 auto;
    padding: .5rem 88px;
}

.app-searchbar {
    grid-area : search;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#qbutton {
    background-image: url('./search.png');
    background-repeat: no-repeat;
    background-position: 40% 50%;      
    flex : 0 0 50px;
}

.app-filters {
    grid-area: side;
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.8em;
}

.app-results {
    grid-area: results;
    max-width: 1000px;
    min-width: 500px;
}

a.link:hover {
    cursor : pointer;
    text-decoration: underline;
}

.maroon { color : #9e2a3f}
.bg-maroon { background-color : #9e2a3f}

.anim-item {
    transition: all 0.1s ease-out;
}
.radioGrid {
    display: grid;
    grid-gap: 1px;
    grid-template-rows: 2.7em 2.7em;
    border-color : black;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    border-radius: 4px;
}

.anim-opacity {transition: opacity 0.15s ease-in;}
.hide {opacity: 0;}

/* 
.leaderboard-enter {
    opacity: 0.01;
}
.leaderboard-enter.leaderboard-enter-active {
opacity: 1;
transition: opacity 500ms ease-in;
}

.leaderboard-leave {
opacity: 1;
}

.leaderboard-leave.leaderboard-leave-active {
opacity: 0.01;
transition: opacity 300ms ease-in;
} */
