<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Quant-ph frontend</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <script src="{{ url_for('static', filename='vendor.js')}}"></script>
  <script src="{{ url_for('static', filename='bundle.js')}}"></script>
  <script>
    // passed in from flask as json
    var numresults = {{ numresults }};
    var pid_to_users = {{ pid_to_users | tojson }};
    var msg = ''
    //passed in from flask as json
    var tweets = {{ tweets | tojson }};
    
    var results_url = "{{ url_for('_getpapers') }}";
    var beta_results_url = "{{ url_for('_getpapers') }}";
    // if (get_param('sort') === 'rec') {
    //   var msg = "Sorting by personalized relevance (" + numresults + '):'
    // } else {
    //   var msg = "Most recent papers (" + (numresults) + '):';
    // }
    var render_format = "{{ render_format }}";
    var user = "{{g.user}}";
    console.log(user);
    var username = "{{ g.user.username }}";
    var show_prompt = "{{ show_prompt }}";
    var pointer_ix = 0
    var wait_for_write = false;
    var first_papers = {{ first_papers | tojson }};
    var urlq = ''; // global will be read in to QueryString when load is done
  </script>
</head>

<body>
  <!-- REACT ROOT -->
  <div id="root"></div>
</body>

</html>